@model IEnumerable<UCP1_PAW_126_A.Models.Menu>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("About")
            </th>
            <th>
                @Html.DisplayName("Product")
            </th>
            <th>
                @Html.DisplayName("IdOrder")
            </th>
            <th>
                @Html.DisplayName("IdAdminNavigation")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.About)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdOrder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdAdminNavigation.IdAdmin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMenu"><i class="fa fa-marker fa-lg"></i></a> |
                <a asp-action="Details" asp-route-id="@item.IdMenu"><i class="fas fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.IdMenu"><i class="fa fa-trash-alt fa-lg"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
